<header>
  <nav>
      <a href="/home"><img class="logo" src="/assets/images/agenda_logo.png" alt=""></a>
      <ul>
          <li><a href="/login/logout">Sair</a></li>

      </ul>
  </nav>
</header>